html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
}

.card {
    -webkit-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 8px 10px 5px 0px rgba(0, 0, 0, 0.13);
}

.wrapper {
    min-height: calc(70% - 4rem);
}

.portada {
    width: 100%;
}

.primary,
.sidebar {
    margin-top: -50px;
}
